body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
